<container>
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Producto</h1>
        </div>
    </div>
</container>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            {{!-- imagen --}}
            <img src="/images/{{producto.imagen}}" style="width:70%; height: auto;">
        </div>
        <div class="col">
            {{!-- descripcion --}}
            <h3>{{producto.nombre}}</h3>
            <h4>{{producto.descripcion}}</h4>
            <hr>
            <h5>${{producto.precio}} | Disponibles : {{producto.stock}}</h5>
            <button type="button" class="btn btn-dark">AGREGAR AL CARRITO</button>
        </div>
    </div>
</div>