
    <section class="" style="margin-top:10em;">
      <div class="container">
        <div class="row">

            <div class="col-8">
                <img src="/{{producto.imagen}}" style="width:80%; height:auto;">
            </div>
            <div class="col-4 mt-5">
                <h2>{{producto.nombre}}</h2>
                <p>{{producto.descripcion}}</p>
                <h5>${{producto.precio}}</h5>
                <h6 style="text-decoration: line-through;">$ {{precio_previo}}</h6>
            </div>

        </div>
      </div>
    </section> <!-- .section -->
		
		